@mixin fontFace($family, $src, $weight) {
  @font-face {
    font-family: $family;
    src: $src;
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in, visibility .2s ease-in;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin setBgImage($url, $position: top left, $size: cover) {
  background-image: $url;
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}
