%flex-center {
  display: flex;
  align-items: center;
}

%flex-start {
  display: flex;
  align-items: flex-start;
}

%reset-list-style {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: inherit;
  list-style: none;
}

%reset-link-style {
  color: inherit;
  text-decoration: none;
}

%reset-btn-styles {
  padding: 0;
  background-color: transparent;
  border: none;
}

$mainFontColor: #1c1c1c;
$mainBgColor: #edf2f5;
$mainGreenColor: #12c868;
$mainOrangeColor: #f38120;
$hoverOrangeColor: #fd9c49;
$hoverGreenColor: #21e27c;
$desktopContainerPadding: 9.12vw;
$containerPadding992: 60px;
$mobileContainerPadding: 22px;

$mainFontFamily: 'Montserrat';
$fontFaces: (
    300: #{url(./fonts/montserrat-light.woff2) format('woff2')},
    400: #{url(./fonts/montserrat-regular.woff2) format('woff2')},
    500: #{url(./fonts/montserrat-medium.woff2) format('woff2')},
    600: #{url(./fonts/montserrat-semibold.woff2) format('woff2')},
    700: #{url(./fonts/montserrat-bold.woff2) format('woff2')}
);
